@font-face {
  font-family: "computer";
  src: url("./Fonts/CHECKBK0.TTF") format("truetype");
}
@font-face {
  font-family: "Anton";
  src: url("./Fonts/Anton-Regular.ttf") format("truetype");
}

:root {
  --dark: rgba(0, 0, 0, 0.8);
  --pink: rgb(208, 26, 200);
  --white: rgb(255, 255, 255);
}

h1 {
  font-size: clamp(1.75rem, 3vw, 2rem);
}

#root {
  display: grid;
}

.intro,
.about-me {
  padding-left: 1em;
  padding-right: 1em;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: var(--dark);
  margin: 0;
  font-family: "Anton";
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 1.875vw, 1.25rem);
}

ul {
  list-style-type: none;
}

.intro {
  color: var(--white);
}

.about-me {
  background-color: white;
  height: 100vh;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.projects-list li {
  padding: 0.5rem;
}

.projects-list svg {
  margin-left: 0.5rem;
}

.copy {
  font-size: 1rem;
  color: var(--pink);
  font-family: "Anton";
  margin: 0;
  display: none;
}

.display {
  color: var(--pink);
  /* font-family: "computer"; */
}

/* .funky {
  display: inline-block;
  position: relative;
  font-size: 2.5em;
}
.funky::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 7px;
  right: -8px;
  background: var(--white);
  z-index: -1;
}

.funky:hover::before,
.funky:focus::before {
  top: -5px;
  right: -20px;
  font-size: 1.5em;
  height: 110%;
  width: 110%;
  box-shadow: 3px 3px 3px 0px black;
} */

.project-info {
  border: 3px solid var(--pink);
  color: var(--white);
}

/* #root {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
@media (min-width: 760px) {
  #root {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .about-me {
    grid-column: 1 / span 2;
  }
}
