/* Global styles */
@font-face {
  font-family: "Space Mono";
  src: url("./Fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  src: url("./Fonts/FiraSans-Regular.ttf") format("truetype");
}

:root {
  --dark: rgba(0, 0, 0, 0.8);
  --pink: #ff00a0;
  --white: rgb(255, 255, 255);
}

header,
.intro,
.about-me,
.projects {
  padding-left: 1em;
  padding-right: 1em;
}

body {
  background-color: var(--dark);
  margin: 0;
  font-family: "Space Mono";
  background-image: url("img/texture.png");
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 1.875vw, 1.25rem);
  font-family: "Fira Sans";
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Header */
.header-nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  color: var(--white);
}

.header-nav__link {
  color: var(--white);
}

.header-nav__link--text {
  display: none;
}

.header-nav__link--text:first-of-type {
  margin-right: 1em;
}

/* Intro */
.intro__copy {
  max-width: 550px;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.projects__link {
  color: var(--pink);
}

.projects > * + * {
  padding-top: 0.3rem;
}

.intro {
  color: var(--white);
}

.about-me {
  background-color: white;
  height: 100vh;
}

svg {
  margin-left: 0.75rem;
}

.copy {
  font-size: 1rem;
  color: var(--pink);
  font-family: "Anton";
  margin: 0;
  display: none;
}

.project-info {
  border: 3px solid var(--pink);
  color: var(--white);
}

@media (min-width: 760px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

@media (min-width: 980px) {
  .projects-list {
    flex-direction: column;
  }

  .header-nav__link--icon {
    display: none;
  }

  .header-nav__link--text {
    display: inherit;
  }
}

/* h1 {
  font-size: clamp(1.75rem, 3vw, 2rem);
} */
