/* Global styles */
@font-face {
  font-family: "Space Mono";
  src: url("./Fonts/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  src: url("./Fonts/FiraSans-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

:root {
  --dark: rgba(0, 0, 0, 0.8);
  --darker: #252424;
  --gray: #8d8d8d;
  --pink: #ff00a0;
  --white: rgb(255, 255, 255);
}

.intro,
.about-me {
  padding-left: 1.675em;
  padding-right: 1.675em;
}

.about-me {
  margin-left: 1.675em;
  margin-right: 1.675em;
}

body {
  background-color: var(--dark);
  margin: 0;
  font-family: "Space Mono";
  color: var(--white);
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 1.875vw, 1.25rem);
  font-family: "Fira Sans";
}

li {
  font-size: clamp(1rem, 1.875vw, 1.25rem);
}

/* Projects */

.projects__link {
  color: var(--pink);
}

.projects__description,
.projects__made-with-list {
  display: none;
}

.projects__made-with-list {
  font-family: "Fira Sans";
  text-transform: uppercase;
  color: var(--gray);
}

.projects__external-icon {
  font-size: 0.475em;
}

.about-me {
  border: var(--white) solid 1px;
  border-radius: 0.5em;
}

@media (min-width: 760px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-right: 1.675em;
    padding-left: 1.675em;
    grid-column-gap: 1em;
  }

  /* .projects {
    padding-left: 0;
    padding-right: 0;
  } */

  .projects__item {
    background-color: var(--darker);
    border: 1px solid transparent;
    padding: 0.5em;
  }

  .projects__item:hover {
    border: var(--white) solid 1px;
  }

  .projects__item-container {
    position: relative;
  }

  .projects__description,
  .projects__made-with {
    display: inherit;
  }

  .projects__made-with-list {
    display: flex;
  }

  .projects__made-with-list > * + * {
    padding-left: 1.5em;
  }

  .projects__made-with-list-item {
    position: relative;
  }

  .projects__made-with-list li + li::before {
    content: "•";
    color: var(--pink);
    position: absolute;
    left: 7px;
  }

  .projects__made-with-list-item {
    margin: 0;
    font-size: 0.675em;
  }

  .projects__description {
    color: var(--white);
    font-size: clamp(0.75rem, 1.75vw, 0.875rem);
    line-height: 1.5;
  }

  .about-me {
    margin-left: 0;
    margin-right: 0;
  }
}
